<launch>
    <node pkg="experiment_miki" name="projector_4" type="proj_4" output="screen"/>
    <node pkg="experiment_miki" name="projector_7" type="projector_7.py" output="screen"/>
    <node pkg="experiment_miki" name="projector_56" type="projector_56.py" output="screen"/>
    <node pkg="experiment_miki" name="projector_89" type="projector_89.py" output="screen"/>
    <node pkg="experiment_miki" name="projector_10" type="projector_10.py" output="screen"/>

    <node pkg="experiment_miki" name="pantilt" type="pantilt.py" output="screen"/>

    <node pkg="experiment_miki" name="black_img" type="black_img.py" output="screen"/>

</launch>
