<launch>
    <node pkg="experiment_miki" name="projector_12" type="proj_24" output="screen"/>
    <node pkg="experiment_miki" name="projector_3" type="proj_25" output="screen"/>
    <node pkg="experiment_miki" name="projector_45" type="proj_21" output="screen"/>
    <node pkg="experiment_miki" name="projector_78" type="proj_22" output="screen"/>
    <node pkg="experiment_miki" name="projector_69" type="proj_23" output="screen"/>

    <node pkg="ubiquitous_display_projector" name="black_img" type="black_img.py" output="screen"/>

</launch>
